
.container {
    display:flex;
    justify-content: center;
    justify-items: center;

}

#countDown{
    flex-wrap: wrap;
    font-size: 6rem;
    padding: 40px 20px;
    background-color: rgb(32, 235, 123);
    border : 4px solid black;
}